.custom-card{
    height: 650px;
    overflow-y: scroll;
    tab-index: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-top-right-radius: 27px !important;
    border-top-left-radius: 27px !important;
}

.child-card{
    min-height: 120px;
    overflow-y: scroll;
    tab-index: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.child-card::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.custom-card::-webkit-scrollbar {
    display: none;
}

.custom-card-border{
    border-radius: 27px !important;
    background-color: transparent !important;
    -webkit-box-shadow: 0px 3px 15px 2px #A15083;
    box-shadow: 0px 3px 15px 2px #A15083;
}
.card-header{
    font-family: 'Montserrat', sans-serif;
    background-color: #4B4B4B !important;
    border-top-right-radius: 27px !important;
    border-top-left-radius: 27px !important;
    color: white !important;
    -webkit-box-shadow: 0px 5px 5px 0px #000000;
    box-shadow: 0px 5px 5px 0px #000000;
    z-index: 1;
}
.card-body{
    background-color: #303030 !important;
    overflow-wrap: normal;
    border-bottom-left-radius: 27px !important;
    border-bottom-right-radius: 27px !important;
}
.priorities-cards{
    border: 1px solid white !important;
    border-radius: 25px !important;
    max-width: 90% !important;
    color: white;
    text-shadow: 3px 2px 2px #000000;
    -webkit-box-shadow: 0px 18px 18px -3px rgba(0,0,0,0.85);
    box-shadow: 0px 18px 18px -3px rgba(0,0,0,0.85);
}

.card-text{
    overflow-wrap: normal;
    height:auto
}
