a.nav-link{
    font-family: 'Praise', cursive;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.3);
}
a.nav-link:hover{
    font-family: 'Praise', cursive;
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 4px 6px #F354B8;
    transition: text-shadow,color ease-in-out .6s;
}
a.nav-link.active{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 4px 6px #F354B8;
}

@media screen and (min-width: 768px){
    .ham-menu{
        text-align: left !important;
    }
    .account{
        text-align: right !important;
    }
}

@media screen and (max-width: 768px){
    .account{
        text-align: right !important;
    }
}

@media screen and (max-width: 576px){
    .account{
        text-align: right !important;
    }
}
