 .retrospective.card .card-body {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        /*grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));*/
        gap: 10px;
    }

    .retrospective.card .card-body .card {
        flex-grow: 1;
    }


    @media only screen and (max-width: 600px) {
        .retrospective.card .card-body {
            flex-direction: column;
        }
    }

