.custom-card-border2{
    border-radius: 40px !important;
    background-color: #4B4B4B !important;
    border: 1px solid white !important;
    border-radius: 35px !important;
}

.child-card2{
    height: 80px;
    tab-index: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.save-btn2{
    background: linear-gradient(45deg, #FEBAEE, #FE93D9, #4A1132);
    border: none !important;
    border-radius: 35px !important;
    font-family: 'Praise', cursive;
    font-size: 29px !important;
    color: white !important;
    width: 50% !important;
    -webkit-box-shadow: 0px 3px 15px 2px #A15083;
    box-shadow: 0px 3px 15px 2px #A15083;
}

.form-control{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px !important;
    -webkit-box-shadow: 0px 10px 14px 0px #000000, inset 0px 3px 20px 5px #000000;
    box-shadow: 0px 10px 14px 0px #000000, inset 0px 3px 20px 5px #000000;

    background-color: #303030 !important;
    border: 2px solid white !important;
    border-radius: 35px !important;
    color: white !important;
}
