.letter-icon{
    background: #821E61;
    color: #fff;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 24px;
}

.letter-icon-lg{
    font-family: 'Montserrat', sans-serif;
    background: #821E61;
    color: #fff;
    padding: 5px 25px;
    border-radius: 50%;
    border: 2px solid #707070;
    font-size: 65px;
}

.letter-icon-md{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    padding: 5px 18px;
    border-radius: 50%;
    border: 2px solid #707070;
    font-size: 45px;
}


#add-retro-icon{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px !important;
    color: white !important;
}

.save-btn{
    background: linear-gradient(45deg, #FEBAEE, #FE93D9, #4A1132);
    border: none !important;
    border-radius: 35px !important;
    font-family: 'Praise', cursive;
    font-size: 29px !important;
    color: white !important;
    width: 100% !important;
    -webkit-box-shadow: 0px 3px 15px 2px #A15083;
    box-shadow: 0px 3px 15px 2px #A15083;
}
.delete-btn{
    background: linear-gradient(45deg, #FEBAEE, #FE93D9, #4A1132);
    border: none !important;
    border-radius: 35px !important;
    font-family: 'Praise', cursive;
    font-size: 29px !important;
    color: black !important;
    width: 100% !important;
    -webkit-box-shadow: 0px 3px 15px 2px #A15083;
    box-shadow: 0px 3px 15px 2px #A15083;
}
.effect-btns:hover{
    -webkit-box-shadow: 0px 3px 28px 6px #FF7FCF;
    box-shadow: 0px 3px 28px 6px #FF7FCF;
}
.form-control{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px !important;
    -webkit-box-shadow: 0px 10px 14px 0px #000000, inset 0px 3px 20px 5px #000000;
    box-shadow: 0px 10px 14px 0px #000000, inset 0px 3px 20px 5px #000000;
}

.label-team{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    color: white !important;
}

.team-name-input{
    background-color: #303030 !important;
    border: 2px solid white !important;
    border-radius: 35px !important;
    color: white !important;
}

.member-names{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: white !important;
}
.prio-settings{
    color: white !important;
    font-size: 26px !important;
}
#dropdownMenuTeams{
    font-size: 28px !important;
    color: white !important;
}

.retroItem{
    background-color: #303030;
    color: white;
    font-size: 30px;
    -webkit-box-shadow: 0px 10px 14px 0px #000000;
    box-shadow: 0px 10px 14px 0px #000000;
    border: 2px solid white;
    border-radius: 25px;
    transform: translatey(0);
    transition: .3s;
}
.retroItem:hover{
    transform: translatey(-20%);
    padding-top: 10px;
    -webkit-box-shadow: 0px 20px 15px 0px #A15083;
    box-shadow: 0px 20px 15px 0px #A15083;
}

a.retroLink{
    text-decoration: none;
}

a.retroLink:hover{
    text-decoration: none;
}

.teams-dropdown{
    background-color: #303030 !important;
}
a.dropdown-item:hover{
    background-color: #707070 !important;
}
